.intercom_default {
    background-color: blue;
    background: blue;
    color: white;
}

.intercom_connecting {
    background-color: yellow;
    background: yellow;
}

.record_default {
    background-color: blue;
    background: blue;
    color: white;
}

.recording {
    background-color: red;
    background: red;
}
