.blue {
    background-color: #346eeb;
    background: #346eeb;
    color: white;
}

.yellow {
    background-color: #e5eb34;
    background: #e5eb34;
    color: black;
}

.red {
    background-color: #eb3434;
    background: #eb3434;
    color: white;
}